<?xml version="1.0"?>
<launch>
  <node pkg="f1tenth_simulator" type="pcl_to_scan" name="pcl_to_laserscan_node" output="screen">
      <remap from="point_cloud_topic" to="/terrain_map" />
      <remap from="odom_topic" to="/odometry_lio" />
      <remap from="laser_scan_topic" to="/scan_cloud" />
      <param name="base_frame" value="livox_frame" />
      <param name="min_height" value="-1.3" />
      <param name="max_height" value="10.3" />
      <param name="angle_min" value="-2.094" />
      <param name="angle_max" value="2.094" />
      <param name="angle_increment" value="0.017" />
      <param name="range_min" value="0.5" />
      <param name="range_max" value="100.0" />
   </node>
</launch>
