<launch>

  <!-- <node pkg="tf" type="static_transform_publisher" name="sensorToLaser" args="0 0 0 0 0 0 /map /odom 1000"/> -->


  <!-- Move Base: Navigation stack -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base_map" output="screen" clear_params="true" args="/map:=projected_map /odom:=Odometry">
    <rosparam file="$(find nav_ted_planner)/config/costmap_common_params_build.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find nav_ted_planner)/config/costmap_common_params_build.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find nav_ted_planner)/config/global_costmap_params_build.yaml" command="load" />
    <rosparam file="$(find nav_ted_planner)/config/local_costmap_params_build.yaml" command="load" />
<!--    <rosparam file="$(find nav_ted_planner)/config/global_planner_params_build.yaml" command="load" />-->

    <rosparam file="$(find nav_ted_planner)/config/teb_local_planner_params_build.yaml" command="load" />
    <rosparam file="$(find nav_ted_planner)/config/navfn_params_build.yaml" command="load" />
    <param name="base_global_planner" value="navfn/NavfnROS" /> 
    <!-- <param name="base_global_planner" value="global_planner/GlobalPlanner" /> --> <!-- Enable if using A star-->
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="controller_frequency" value="10.0" />
  </node>

!-- Launch the twist_to_ackermann node -->
    <node pkg="nav_ted_planner" type="twist_to_ackermann" name="twist_to_ackerman_cmd" output="screen">

        <!-- Set parameters -->
        <param name="wheelbase" value="0.36" />
        <param name="twist_cmd_topic" value="cmd_vel" />
        <param name="ackermann_cmd_topic" value="ackermann_cmd" />
        <param name="frame_id" value="odom" />
    </node>

</launch>
